* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

header {
  background-color: #1b1b1b;
}
nav {
  width: 100vw;
  height: 50px;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  color: white;
  position: relative;
  font-size: 1.3rem;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: white;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("img/heroImg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#content h1 {
  position: absolute;
  font-size: clamp(4rem, 17vw, 12rem);
  top: 40%;
  transform: translateY(0%);
  letter-spacing: 38px;
  text-align: center;
  z-index: 1;
}
.moveLogo {
  font-size: clamp(4rem, 17vw, 7rem) !important;
  top: 20% !important;
  transform: translateY(-25%) !important;
  transition: 1s;
}
.moveLogoSmaller {
  top: 15% !important;
  font-size: 2.5rem !important;
  transition: 1s;
  letter-spacing: 20px !important;
}

.bookingContainer {
  width: auto;
  margin-top: 5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-out;
}
.BookingOpacity {
  opacity: 1;
}

.bookingContainer form {
  margin-top: 4rem;
  background-color: #161616c4;
  height: 100px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
}
.bookingContainer form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.bookingContainer form label {
  margin-right: 10px;
  font-weight: bold;
}
.bookingContainer form input,
select {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-right: 30px;
  height: 30px;
  padding: 2px 10px;

  background-color: #fffffff2;
}
#tableNumber {
  width: 150px;
}
.bookingContainer form button {
  height: 40px;
  width: 120px;
  border-radius: 50px;
  border: none;
  background-color: #fffffff2;
  color: #1b1b1b;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
}
.intro {
  font-size: 1.2rem;
  width: 50%;
  line-height: 30px;
}
.dishContainer {
  padding: 8rem 8rem 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  width: 100vw;
  justify-items: center;
  align-items: start;
}
.dishBox {
  max-height: 150px;
  max-width: 400px;
  background-color: #1b1b1bbb;
  border-radius: 21px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dishBox > .dishImg {
  height: 100px;
  width: 100px;
  border-radius: 21px;
}
.dishBox > .dishInfo {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.dishBox > .dishInfo > .dishName {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 10px;
}
.dishBox > .dishInfo > .dishDesc {
  font-size: 0.7rem;
  line-height: 20px;
}
.dishBox > .dishInfo > .dishPrice {
  font-size: 1.2rem;
  align-self: flex-end;
  margin-top: 10px;
}

.specialDishBox {
  grid-area: 1/1/4/2;
  height: 480px;
  max-width: 400px;
  background-color: #1b1b1bbb;
  border-radius: 21px;
  padding: 20px 10px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.speacialDishTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.speacialDishImg {
  width: 270px;
  border-radius: 21px;
}
.speacialDishInfo {
  padding: 0 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.speacialDishName {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.speacialDishDesc {
  font-size: 1.2rem;
  line-height: 30px;
}
.speacialDishPrice {
  font-size: 1.5rem;
  align-self: flex-end;
  margin-top: 1rem;
}
