* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

header {
  background-color: #1b1b1b;
}
nav {
  width: 100vw;
  height: 100px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-links {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.nav-links li {
  list-style: none;
  margin: 0 12px;
}
.nav-links li a {
  color: white;
  position: relative;
  font-size: 2.3rem;
  font-weight: 500;
  padding: 6px 0;
  text-decoration: none;
}
.nav-links li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: white;
  border-radius: 12px;
  transition: all 0.4s ease;
}
.nav-links li a:hover:before {
  width: 100%;
}
.nav-links li.center a:before {
  left: 50%;
  transform: translateX(-50%);
}
#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url("img/heroImg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#content h1 {
  position: absolute;
  font-size: clamp(4rem, 17vw, 24rem);
  top: 40%;
  transform: translateY(0%);
  letter-spacing: 38px;
  text-align: center;
  z-index: 1;
}
.moveLogo {
  font-size: clamp(4rem, 17vw, 17rem) !important;
  top: 20% !important;
  transform: translateY(-25%) !important;
  transition: 1s;
}

.bookingContainer {
  width: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.5s ease-out;
}
.BookingOpacity {
  opacity: 1;
}

.bookingContainer form {
  margin-top: 4rem;
  background-color: #161616c4;
  font-size: 2rem;
  height: 150px;
  border-radius: 21px;
  display: flex;
  justify-content: center;
}
.bookingContainer form > div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 50px;
}

.bookingContainer form input,
select,
label {
  margin-right: 30px;
}
.bookingContainer form button {
  height: 30px;
  width: 150px;
  border-radius: 50px;
  border: none;
  background-color: aliceblue;
  color: #1b1b1b;
  font-size: 1.2rem;
  font-weight: bolder;
  cursor: pointer;
}
.intro {
  font-size: 2rem;
  width: 50%;
}
